/*
  CSS definitions for the HuckTheme
  
  Author: Paul Rentschler <par117@psu.edu>

*/


/* ---- GENERAL ---- */

body {
  background-color: black;
}

body #portal-columns {
  background-color: white;
}

body.popup {
	background-color: white;
}

#visualClear {
  clear: both;
}

a {
	color: blue;
}



/* ----- IMAGES ----- */

.plain img {
	border: none;
	margin: 0.25em 0.5em;
}

img.no-photo {
  border: 0 !important;
}




/* ----- SEARCH BOXES and SEARCH RESULTS ----- */

#portal-searchbox {
  float: none;
	margin: 1em 0.25em;
  text-align: right;
}

#portal-searchbox .LSBox {
	clear: none;
	float: none;
	padding-right: 1px;
	text-align: right;
}

#portal-searchbox #LSResult {
  padding-top: 0;
}

#portal-searchbox #portal-advanced-search {
  clear: none;
  margin-left: 1em;
}

#portal-advanced-search a:link, 
#portal-advanced-search a:active,
#portal-advanced-search a:visited { 
	color: #AAA;
	padding: 0.1em 0.3em;
	text-decoration: underline;
}

#portal-advanced-search a:hover {
  background-color: #AAA; 
	color: black;
	text-decoration: none;
}




/* ----- LOGOS AND WORDMARKS --- */

#psu-logo { 
	border: 0;
  left: 0px;
	margin: 0;
	padding: 0;
  position: absolute;
	top: 0px;
}

#logos {
  margin-left: 130px;
  margin-top: -60px;
}

#logos #portal-logo h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  padding: 0;
}

#logos #portal-logo div {
  color: black;
  font-size: 10px
  margin: 0;
  padding: 0;
}

#logos #portal-logo div .logo-accent {
  color: white;
}
 


/* ---- GLOBAL NAVIGATION ---- */

#portal-globalnav {
  background-color: #0000AA;
  border-top: 1px solid #DEE7EC;
  border-bottom: 1px solid #DEE7EC;
  margin: 0;
  padding: 0;
}

#portal-globalnav li {
  border: 0 none;
}

#portal-globalnav li a {
  background-color:transparent;
	border: 0 none;
  color: white;
  font-size: 1.2em;
  height: 2em;
  margin: 0.5em 0;
  padding: 0 1.25em;
}

#portal-globalnav li.selected a {
	background-color: white;
	border: 1px solid white;
	color: black;
}

#portal-globalnav li a:hover {
	background-color: white;
	border-bottom: 1px solid white;
	color: black;
}
		



/* ---- BREADCRUMBS ---- */

#portal-breadcrumbs {
	background-color: white; 
	border: 0 none;
	clear: both;
	color: #666;
	margin: 0;
	padding: 0.25em 1em;
}

#portal-breadcrumbs a,
#portal-breadcrumbs a:link,
#portal-breadcrumbs a:visited {
	color: #0000CC;
	text-decoration: underline;
}

#portal-breadcrumbs a:hover {
	background-color: #0000CC;
	color: white;
	text-decoration: none;
}



/* -----  PERSONAL BAR ----- */

#portal-personaltools {
  background-color: transparent;
  border: 0 none;
  float: right;
  margin-top: -35px;
}

#portal-personaltools li {
  color: white;
  display: list-item;
  float: right;
}

#portal-personaltools li a {
  color: white;
}

#portal-personaltools li a:hover {
  text-decoration: underline;
}

#portal-personaltools .contentActions a {
	color: #FFFFFF;
}

#portal-personaltools .actionMenu .actionMenuContent li {
  display: inline;
  float: none;
	text-align: left;
}

#portal-personaltools .actionMenu .actionMenuContent li a {
	color: #666666;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

#portal-personaltools .actionMenu .actionMenuContent li a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

#portal-personaltools .actionMenu .actionMenuContent .actionSeparator a {
	border-top: 1px solid #797979;
}




/* ---- FACILITY BANNERS ---- */
#facility_banner {
  border-bottom: 1px solid #0000CC;
  height: 60px;
}

#facility_banner h1 {
  color: white;
  font-size: 30px;
  margin-left: 120px;
  margin-top: 0;
  padding-top: 8px;
}

#facility_banner.threet-mri {
  background: #0099CC url('threet-mri-banner.jpg') top left no-repeat;
}

#facility_banner.hef {
  background: #663333 url('hef-banner.jpg') top left no-repeat;
}

#facility_banner.high-field {
  background: #339933 url(high-field-banner.jpg) top left no-repeat;
}




/* ---- GENERAL CONTENT ---- */

.contactInfo {
	color: #666;
	font-size: 93%;
}

p.contactInfo {
	padding-left: 1.5em;
}

.documentContent p a,
.documentContent dd a,
.documentContent li a {
	border-bottom: none;
	text-decoration: underline;
}

.documentContent p a:visited 
.documentContent dd a:visited,
.documentContent li a:visited {
/*	color: #336633; */
}

.documentContent p a:active, .documentContent p a:hover,
.documentContent dd a:active, .documentContent dd a:hover,
.documentContent li a:active, .documentContent li a:hover {
/*	color: #FF6633; */
}

.emphasis {
	font-weight: bold;
	text-transform: uppercase;
}

.formHelp {
	font-size: 100%;
}

fieldset {
	margin: 1em 0 1em 0.25em;
}

h1 {
	border-bottom: 0 none;
	color: #0000CC;
	font-size: 170%;
	font-weight: bold;
}

h1 abbr {
  color: #0000CC;
}

h2 {
	border-bottom: 1px solid #999;
	color: #0000CC;
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin-top: 1em;
}

h2 abbr {
  color: #0000CC;
}

h2 a,
h2 a:link,
h2 a:visited {
	color: #0000CC !important;
	text-decoration: underline;
}

h2 a:hover {
	color: #0000CC !important;
	text-decoration: none;
}

h3 {
	border: none;
	color: #0000CC;
	font-size: 110%;
	font-weight: bold;
	margin-top: 0.75em;
}

h3 abbr {
  color: #0000CC;
}

h3 a, h4 a, h5 a, h6 a {
	color: #0000CC !important;
	text-decoration: underline;
}

.tileHeadline a {
	text-decoration: underline;
}

h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
	color: #0000CC !important;
	text-decoration: underline;
}

h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited {
	color: #0000CC !important;
	text-decoration: underline;
}

.hide {
	display: none;
	visibility: hidden;
}

input {
	border: 1px solid #ccc;
}

.itemTitle {
	font-weight: bold;
	text-transform: uppercase;
}

.link-external {
	background: transparent;
	padding: 0
}

#maincontents {
	float: left;
	width: 70%;
}

.moreInfo {
	font-size: 93%;
}

.specialtyColumn {
	width: 50%;
}

ul.list {
	list-style-type: none;
	list-style-image: none;
}




/* ----- EDITING CONTENT ----- */
.documentEditable .documentContent {
	border: 0;
}

.contentViews {
	border-color: #797979;
}

.contentViews li a {
	border: 1px solid #797979;
	color: #666666;
}

.contentViews li a:hover {
	background-color: #CCCCCC;
	color: #666666;
}

.contentViews .selected a {
	background-color: #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	color: #666666;
}

.contentActions {
/*
  border-bottom: 1px solid #74AE0B;
	background-color:#CDE2A7;
	border-left:1px solid #74AE0B;
	border-right:1px solid #74AE0B;
	color:#578308;
*/
  border-bottom: 1px solid #797979;
	background-color: #CCCCCC;
	border-left: 1px solid #797979;
	border-right: 1px solid #797979;
	color: #666666;
}

.contentActions li {
	border-left: 1px solid #797979;
}

.contentActions a {
	color: #666666;
}

.actionMenu .actionMenuContent ul {
	background: #CCCCCC none repeat scroll 0 0;
	border-color: #797979;
}

.actionMenu .actionMenuContent li a:hover {
	background-color: #797979;
}

.actionMenu .actionMenuContent .actionSeparator a {
	border-top: 1px solid #797979;
}

.documentContent {
  padding: 1em 0 !important;
}

.documentByLine {
	color: #333;
	margin-left: 1em;
}




/* ---- TABLES ---- */

table.listing {
	font-size: 100%;
}

table.listing th, table.data th {
  background-color: #B6D8EA;
	text-align: left;
}

table.listing th img {
	display: none;
}

table.listing a:hover {
/*	color: #FF6633; */
}

table.listing a {
	text-decoration: underline;
}

table tr {
	vertical-align: top;
}

table.plain {
	border-collapse: collapse;
}

table.plain th {
	border: 1px solid #666;
	padding: 0.25em 0.5em;
	text-align: left;
}

table.plain td {
	border: 1px solid #666;
	padding: 0.25em 0.5em;
}

.data {
  border-bottom: 1px solid #B6D8EA;
  border-collapse: collapse;
  border-left: 1px solid #B6D8EA;
  font-size: 100%;
  margin: 1em 0;
}

.data th {
  border-right: 1px solid #DEE7EC;
  font-weight: normal;
  padding: 0.25em 1em;
}

.data td {
  border-bottom: 1px solid #B6D8EA;
  border-right: 1px solid #B6D8EA;
  padding: 0.25em 1em;
}

table.gradProgs tbody tr td {
  width: 50%;
}




/* --- PORTLETS --- */

#portal-column-two {
  width: 20em;
}

.portlet {
	border: 2px solid #0000CC;
	font-size: 100%;
}

.portletItem {
	border: none;
	margin: 0;
	padding: 0.5em;
}

.portletHeader {
	background-color: #0000CC;
	border: none;
	color: #fff;
	padding: 0.25em 1em;
	text-transform: none;
}
	
.portletHeader a:link,
.portletHeader a:visited { 
	color: #fff;
	display: block;
	text-decoration: underline;
}

.portletAssignments .portletHeader a:link, 
.portletAssignments .portletHeader a:visited { 
/*	color: #0000FF; */
	display: block;
	text-decoration: underline;
}

.portletItem a:visited, 
.portletFooter a:visited {
	color: purple;
}
	
.portlet .eventTitle a,
.portlet .articleTitle a {
  font-size: 120%;
  font-variant: small-caps;
  font-weight: bold;
}

.portlet .eventTitle .speakerInstitution {
  font-style: italic;
  font-variant: normal;
  font-weight: normal;
}

.portlet .eventDate {
  font-weight: normal;
  text-align: right;
}

.portlet .imageInPortlet {
  border: medium none;
  float: left;
  margin: 0.25em 0.5em 0.25em 0;
}




/* --- MANAGE PORTLET LINKS --- */
.managePortletsLink,
.managePortletsFallback,
.managePortletsAboveLink,
.managePortletsBelowLink,
.manageFooterPortletsLink {
		display: none;
}




/* --- NAVIGATION PORTLET --- */

.navTreeItem a, 
dd.portletItem .navTreeItem a {
	margin: 0.5em 0.2em;
}

.navTreeItem a:hover, 
dd.portletItem .navTreeItem a:hover {
	border: 1px solid white; /* needed to avoid jiggle on hover */
/*	color: #FF6633; */
	text-decoration: underline;
}

dd.portletItem .navTreeCurrentItem { 
	border-bottom: none !important; 
	border-left: 2px solid #FF6633 !important; 
	border-right: none !important; 
	border-top: none !important; 
	color: #FF6633;
	padding-left: 0.35em;
	text-decoration: none;
}




/* ----- CONTENT WELL PORTLETS ----- */

/*
.portletsBelowContentA {
  float: left;
  width: 55%;
}

.portletsBelowContentB {
  border-left: 1px solid #DEE7EC;
  float: right;
  padding: 0.2em 0.2em 0.2em 1em;
  width: 40%;
}
*/



/* ---- CONTENT WELL PORTLETS (HOME PAGE) ---- */

.section-welcome .portletsBelowContentA,
.section-welcome .portletsBelowContentB,
.section-welcome .portletsBelowContentC {
  float: left;
  padding: 0.5em;
  width: 31.75%;
}

.section-welcome .portletsBelowContentA .portlet,
.section-welcome .portletsBelowContentB .portlet,
.section-welcome .portletsBelowContentC .portlet {
  border: 0 none;
}

.section-welcome #portlets-below .portlet dt.portletHeader {
  color: black;
	font-size: 120%;
	height: 37px;
  padding: 0.25em 0.25em 0.25em 50px;
}

.section-welcome #portlets-below .portlet dd {
  background-color: #EAEAEA;
  height: 300px;
}

.section-welcome .portletsBelowContentA .portlet dt.portletHeader {
  background: #0099CC url('threet-mri-portlet.jpg') top left no-repeat;
}

.section-welcome .portletsBelowContentB .portlet dt.portletHeader {
  background: #663333 url('hef-portlet.jpg') top left no-repeat;
}

.section-welcome .portletsBelowContentC .portlet dt.portletHeader {
  background: #339933 url('high-field-portlet.jpg') top left no-repeat;
}


.section-welcome #portlets-below .portlet dt.portletHeader a,
.section-welcome #portlets-below .portlet dt.portletHeader a:link,
.section-welcome #portlets-below .portlet dt.portletHeader a:active,
.section-welcome #portlets-below .portlet dt.portletHeader a:visited {
  background-color: transparent;
  color: white;
  line-height: 1.2em;
	text-decoration: none;
}

.section-welcome #portlets-below .portlet dt.portletHeader a:hover {
  color: #CCCCCC;
  text-decoration: none;
}

.section-welcome #portal-column-two {
  width: 170px;
}




/* ----- EVENTS ----- */

.vevent .speakerInstitution {
	font-size: 80% !important;
	font-style: italic !important;
}

table.eventTable td {
  padding: 12px;
}

table.eventTable td.eventDate {
	font-weight: bold;
	text-transform: uppercase;
  min-width: 8em;
}

table.eventTable td .eventTitle {
  font-size: 120%;
}

table.eventTable td .eventTitle .speakerInstitution {
  font-size: 100%;
  font-style: italic;
}

table.eventTable td .talktitle {
	font-weight: bold;
}

table.eventTable td .eventCanceled {
  background-color: #0000CC;
  color: white;
  padding: 2px;
}

.eventDetails {
  background-color: #0000CC;
  border: 1px solid #0000CC;
  padding: 0px 1px 1px 2px;
}

.eventDetails .eventDetailsLabel {
  color: white;
  margin: 1px 5px;
}
  
.eventDetails table {
  margin: 0;
  padding: 0;
}

.eventDetails table th {
  background-color: white;
  color: #76797C;
  width: 6em;
}

.eventDetails table td {
  color: black;
  width: 16em;
}

#meetTheSpeaker {
  background-color: #DEE7EC;
  margin-top: 2em;
  padding: 1px 10px;
}




/* --- FACILITIES --- */

.facility-location-image {
	float: right;
	font-size: 0.9em;
	width: 200px;
}

.facility-location-image img {
	display: block;
}




/* --- PEOPLE --- */

.facultyStaffDirectory.personView .headshot {
  background-color: white;
  border-left: 2em solid white;
  border-right: 2em solid white;
  margin: 5em 0 0 0;
}

.facultyStaffDirectory .standardView ul.jobTitle li {
  font-style: italic;
}

.facultyStaffDirectory .tabularView th.classification {
  font-size: 100%;
}

.facultyStaffDirectory .tabularView ul.jobTitle li {
  font-size: 93%;
  line-height: 1.1em;
  list-style-image: none;
  list-style-type: none;
  margin: 0.5em 0 0 1.5em;
}

.facultyStaffDirectory .tabularView table.noBorders {
  border: 0;
  border-collapse: collapse;
}

.facultyStaffDirectory .tabularView table.noBorders th,
.facultyStaffDirectory .tabularView table.noBorders td {
  border: 0;
  padding: 8px 3px;
}

.hasPhoneNumber {
	background:transparent url(phone_icon.gif) no-repeat scroll left bottom;
	padding-left:10px;
}




/* ---- FOOTER ---- */

#portal-footer {
  background-color: black;
	border: none;
	color: #AAA;
	float: none;
	font-weight: normal;
	line-height: 1.2em;
	margin: 2em 0em 1em 0em;
	padding: 0.5em 0em 1em 2em;
	text-align: left;
}

#portal-footer {
  float: left;
}

#siteActions {
  float: right;
	margin: 2em 0 1em 0;
  padding: 0.5em 2em 1em 0;
  text-align: right;
}

#partnerLogo {
  clear: both;
  margin-bottom: 2em;
  text-align: center;
}


#portal-footer p {
  margin: 0.25em 0;
}

#portal-footer acronym {
  color: white;
}

#portal-footer a,
#portal-footer a:link,
#portal-footer a:visited {
	background-color: black;
	border: none;
	color: #AAA;
	text-decoration: underline;
}

#portal-footer a:hover {
  background-color: #AAA;
  color: black;
}

#portal-siteactions {
  background-color: black;
  border: none;
  color: #AAA;
  margin: 0;
  padding: 0;
  text-align: right;
}

#portal-siteactions li {
  display: block;
  margin: 0.25em 0;
}

#portal-siteactions li a,
#portal-siteactions li a:link,
#portal-siteactions li a:visited {
	background-color: black;
	border: none;
	color: #AAA;
	text-decoration: underline;
	text-transform: none;
}

#portal-siteactions li a:hover {
  background-color: #AAA;
  color: black;
}

	
